<!-- post and related options -->

<li id="post-<%=i._id%>" class="post">

    <!-- author and delete option of post -->
    
    <div class="post-author-delete-container">

        <div class="post-author">
            <span><%=i.user.name%></span>    
        </div>

        <!-- showing the user an option to delete a post if the user is signed in and is the one who made it(.id gives the ObjectId in the string format and this format is preferred for ObjectId comparison) -->

        <%if(locals.user && locals.user.id==i.user.id){%>                                        

            <div class="delete-post-button-container">

                <!-- we send the id of the post to be deleted using string params -->
                <a class="delete-post-button" href="/posts/destroy/<%=i._id%>">Delete post</a>

            </div>

        <%}%> 

    </div> 

    <!-- post content -->
    
    <div class="post-content"><%=i.content%></div>                                  
    
    <!-- post comments container for each post -->

    <div class="post-comments">

        <!-- showing the user a form to add comments on each post when the user is signed in -->

        <%if(locals.user){%>

            <form action="/comments/create" method="POST" class="comment-forms">

                <input type="text" name="content" placeholder="Comment here..." required class="comment-forms-content">

                <!-- hidden input for sending the id of the post on which the comment has been made -->

                <input type="hidden" name="post" value="<%=i._id%>">                           
                <input type="submit" value="Comment" class="comment-forms-submit">

            </form>

        <%}%>

        <!-- post comments list container to show all the comments made on a post and the comments should be made visible even if the user is not signed in -->

        <ul class="post-comments-list curved-scrollbar" id="post-comments-<%=i._id%>" type="disc">
    
            <%for(j of i.comments){%>

                <!-- including the comment -->
                <%-include("_comment");%>

            <%}%>

        </ul>                 

    </div>

</li>