<!-- wrapper over different files which are being rendered -->

<html>
    <head>

        <!-- dynamic title of the page i.e. to be rendered -->

        <title>
            <%=title%>
        </title>

        <link rel="stylesheet" type="text/css" href="/css/layout.css">
        <!-- above is the link to the external stylesheet relative to the assets folder(path indicated by static middleware) -->

        <%-style%>
        <!-- above is the style link of the specific file i.e. being rendered and it is provided below the above link to overwrite the basic styling -->

    </head>

    <body>

        <!-- including the common header content -->

        <%-include("_header")%>

        <!-- including the page specific body content -->

        <%-body%>

        <!-- including the common footer content -->

        <%-include("_footer")%>

        <%-script%>
        <!-- above is the link to the external js file of the specific file which is being rendered -->
        
    </body>
</html>