<!-- wrapper over different files which are being rendered -->

<html>
    <head>

        <!-- dynamic title of the page i.e. to be rendered -->

        <title>
            <%=title%>
        </title>

        <!-- showing style and js link for flash message if success or error flash message is defined and is non empty -->

        <%if((flash.success && flash.success.length!=0) || (flash.error && flash.error.length!=0)){%>

            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
            <!-- minified css CDN for noty -->

            <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
            <!-- minified js CDN for noty -->

        <%}%>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!-- minified js CDN for jquery and it is included below the noty links as noty has now stopped using jquery as it no longer requires it(included this jquery link in layout as we want it to be accessible to all the view files which use this layout wrapper) -->
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">

        <link rel="stylesheet" type="text/css" href="/css/layout.css">
        <!-- above is the link to the external stylesheet relative to the assets folder(path indicated by static middleware) -->

        <link rel="stylesheet" type="text/css" href="/css/header.css">
        <!-- above is the link to the header styling external stylesheet -->

        <link rel="stylesheet" type="text/css" href="/css/footer.css">
        <!-- above is the link to the footer styling external stylesheet -->

        <%-style%>
        <!-- above is the style link of the specific file i.e. being rendered and it is provided below the above link to overwrite the basic styling -->

    </head>

    <body>

        <!-- including the flash message to be shown, if the success flash is defined/exists and is non empty -->

        <!-- *** below part to show a flash message is commented as we are now using noty to show the flash message *** -->

        <!-- <%if(flash.success && flash.success.length!=0){%>

            <h5>
                <%=flash.success%>
            </h5>

        <%}%> -->

        <!-- including the common header content -->

        <%-include("_header")%>

        <!-- including the page specific body content -->

        <%-body%>

        <!-- including the common footer content -->

        <%-include("_footer")%>

        <%-script%>
        <!-- above is the link to the external js file of the specific file which is being rendered -->        

        <!-- including the flash message to be shown, if the success flash is defined and is non empty -->

        <%if(flash.success && flash.success.length!=0){%>

            <!-- adding the js code to include the noty message -->

            <script>            

                    new Noty({//making a new Noty object for the success flash message and then showing it

                        theme: "semanticui",
                        text: "<%=flash.success%>",
                        type: "success",
                        layout: "topRight",
                        timeout: 1500

                    }).show();

            </script>

        <%}%>

        <!-- including the flash message to be shown, if the error flash is defined and is non empty -->

        <%if(flash.error && flash.error.length!=0){%>

            <!-- adding the js code to include the noty message -->

            <script>

                new Noty({//making a new Noty obejct for the error flash message and then showing it

                    theme: "semanticui",
                    text: "<%=flash.error%>",
                    type: "error",
                    layout: "topRight",
                    timeout: 1500

                }).show();

            </script>

        <%}%>
        
    </body>
</html>