<!-- user_profile specific content -->

<link rel="stylesheet" type="text/css" href="/css/user_profile.css">
<!-- above is the link to the external stylesheet for user_profile specific styling -->

<!-- profile container -->

<div id="profile-container">

    <!-- profile image container -->

    <div id="profile-img-container">

        <!-- showing the user's avatar(default avatar in case the user's avatar has not been set) -->
    
        <img src="
        
            <%if(locals.user.avatar){%>
                <%=locals.user.avatar%>
            <%}else{%>
                ../uploads/users/avatars/default.png
            <%}%>
        
        " alt="<%=locals.user.name%>" id="profile-img">
        
    
    </div>
    
    <!-- showing the user's details -->
    
    <div id="details-container">
    
        <div class="details"><%=user_profile.name%></div>
        <div class="details"><%=user_profile.email%></div>
    
    </div>
    
    <!-- if the user is viewing its own profile, then we provide an option to the user to update its profile -->
    
    <%if(locals.user.id==user_profile.id){%>
    
        <!-- form for updating the user's profile -->
    
        <form action="/users/update/<%=user_profile._id%>" enctype="multipart/form-data" method="POST" id="update-profile-form">
    
            <!-- inputs for taking the new name and email from the user and are having the default values as the current values -->
    
            <label id="update-profile-label">

                <span>Update profile</span>
                <i class="fas fa-pen"></i>
                
            </label>
            <input type="text" name="name" placeholder="Name" value="<%=user_profile.name%>" required class="update-profile-input">
            <input type="email" name="email" placeholder="Email" value="<%=user_profile.email%>" required class="update-profile-input">
            <input type="file" name="avatar" placeholder="Profile Picture" id="file-input" class="update-profile-input" value="file">
            <input type="submit" value="Update" id="submit-button" class="update-profile-input">
    
        </form>
    
    <%}%>

</div>