<!-- user_profile specific content -->

<link rel="stylesheet" type="text/css" href="/css/user_profile.css">
<!-- above is the link to the external stylesheet for user_profile specific styling -->

<h1>
    Profile
</h1>

<!-- showing the user's name and email -->

<ul>

    <li>Name: <%=user_profile.name%></li>
    <li>Email: <%=user_profile.email%></li>

</ul>

<!-- if the user is viewing its own profile, then we provide an option to the user to update its profile -->

<%if(locals.user.id==user_profile.id){%>

    <!-- form for updating the user's profile -->

    <form action="/users/update/<%=user_profile._id%>" method="POST">

        <!-- inputs for taking the new name and email from the user and are having the default values as the current values -->

        <input type="text" name="name" placeholder="Your Name" value="<%=user_profile.name%>" required>
        <input type="email" name="email" placeholder="Your Email" value="<%=user_profile.email%>" required>
        <input type="submit" value="Update">

    </form>

<%}%>